@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root{
  --primary-color:#000000;
  --secondary-color:#fffffc;
  --secondary-color-100:#F3F4F6;
}

body {
  margin: 0;  
}
